<!-- Toolbar -->
<div class="toolbar" role="banner">

  Ma solution utilisant
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  pour importer un service NestJs.
</div>

<div class="container" role="main">

  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label>Date du début de la période</mat-label>
        <input matInput [matDatepicker]="pickerStartDate"
               [(ngModel)]="startDate"
               (dateChange)="watchMethod()">
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field>
        <mat-label>Date de fin de la période</mat-label>
        <input matInput [matDatepicker]="pickerEndDate"
               [(ngModel)]="endDate"
               (dateChange)="watchMethod()">
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
      <mat-checkbox [(ngModel)]="ci.businessOpenOnSaturdays"
                    (change)="watchMethod()">Votre entreprise permet-elle de travailler le samedi ?</mat-checkbox>
  </div>
  <div class="row">
      <mat-label>Nombre de semaines de congé sans solde sur la période</mat-label>
      <mat-slider  [(ngModel)]="ci.unpaidWeeks"  min="1" max="30" thumbLabel
                   (change)="watchMethod()"
                   ></mat-slider>
  </div>
  <div class="row">
      <mat-label>Nombre de jours en plus de ces semaines de congé sans solde sur la période</mat-label>
      <mat-slider  [(ngModel)]="ci.extraUnpaidDays"  min="1" max="20" thumbLabel
                   (change)="watchMethod()"
                   ></mat-slider>
  </div>
  <br/>
  <hr/>
  <br/>

  RESULTAT: {{result}}
</div>

